<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Query Executor</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
    <textarea id="query" rows="4" cols="50" placeholder="Enter your SQL query"></textarea>
    <button onclick="executeQuery()">Execute Query</button>
    <div id="result"></div>

    <script>
        function executeQuery() {
            var query = $('#query').val();

            $.ajax({
                url: '/execute_query',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ 'query': query }),
                success: function (response) {
                    $('#result').text(JSON.stringify(response.result, null, 2));
                },
                error: function (error) {
                    console.error(error);
                    $('#result').text('Error: ' + error.responseJSON.error);
                }
            });
        }
    </script>
</body>
</html>
